#card-trans {
  transition: opacity 200ms ease-in, box-shadow 0.1s ease;
}

.card {
	width: 280px;

	#remove-button {
    	&:hover{ color:#b31b1b; }
	}

  > .content {
    &:first-child {
  		display:flex;
      flex-direction:column;
    }
  }

  .content .url {
      margin-bottom: 15px;

      p {
        overflow:hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
      }
  }

	.click-zone {
		position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    z-index:1;
	}

  .header {
      text-overflow: ellipsis;
      overflow: hidden;
  }

  .extra.content {
    z-index:9999;
  }
}




